<div class="container-fluid xs-outerspace-top background-parent">
    <div class="row reduced-row">
        <div class="column lg-none xs-cozy-bottom background-column no-flex">
            <div class="component component--image hero-left desktop">
                <img id="9003beab" alt="Background" class="component__image" src="https://wac-cdn.atlassian.com/dam/jcr:bb0a4a74-f764-4477-87b3-aee68b843b2b/Finance-img-1.svg?cdnVersion=365" loading="lazy">
            </div>
        </div>
        <div class="column text-center no-flex">
            <div class="component component--heading">
                <h1 class="heading"> Balance and plan your company’s finances </h1>
            </div>
        </div>
        <div class="column column-lg-8 column-md-8 column-lg-offset-2 column-md-offset-2 xs-none-top text-center no-flex">
            <div class="component component--textblock">
                <p>Create and share documents, predict potential growth, and react quickly with Jira Work Management — so you and your team can focus on the financial future.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid xs-cozy-bottom background-parent">
    <div class="row">
        <div class="column column-lg-8 column-md-10 column-lg-offset-2 column-md-offset-1 no-flex">
            <div class="component component--heading text-center">
                <h6 class="eyebrows heading"> Join the 100,000 customers worldwide</h6>
            </div>
        </div>
        <div class="column column-lg-8 column-md-10 column-xl-6 column-lg-offset-2 column-md-offset-1 column-xl-offset-3 hide-md hide-lg hide-xl hide-sm no-flex">
            <div class="component no-flex component--block">
                <div class="component component--image">
                    <img id="f88bbff0" alt="Square, ebay, spotify, cisco, and airbnb logos" class="component__image" src="https://wac-cdn.atlassian.com/dam/jcr:30166842-48ce-44cf-be49-7e28215dff20/logos-mobile.png?cdnVersion=365" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>