@model Expense

@{
    ViewData["Title"] = "Delete Expense";
}

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="row form-group">
            <h2 class="text-black-50 pl-3">Delete Expenses</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="ExpenseName"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Amount"></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <input asp-for="ExpenseName" class="form-control" readonly />
                    </div>
                    <div class="col-6">
                        <input asp-for="Amount" class="form-control" readonly />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-8 offset-2 row">
                        <div class="col">                        
                        <input type="submit" value="Delete" class="btn btn-danger w-75" />
                        </div>
                        <div class="col">
                            <a class="btn btn-warning w-75" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
