@model IEnumerable<Expense>

@{
    ViewData["Title"] = "Expenses";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=text-primary>Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary btn-lg" asp-controller="Expense" asp-action="Create">Create New Expense</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr class="text-center">
                    <th>
                        Expense Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr class="text-center">
                        <td width="30%">
                            @expense.ExpenseName
                        </td>
                        <td width="30%">
                            @expense.Amount
                        </td>
                        <td width="40%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-success mx-1" asp-controller="Expense" asp-action="Update" asp-route-id="@expense.Id">Update</a>
                                <a class="btn btn-danger mx-1" asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No expenses created yet.</p>
    }
</div>